body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

input.ng-invalid {
  border: 1px solid #d9534f;
}

.ui-widget-content{
    border:none;
}
                    
.ui-datalist-data {
    list-style:none;
}

.card{
    margin-bottom: 20px;
    border : 1px solid #e5e5e5;
    border-radius: 0.25rem;
}




/** CHAT PART **/
body#chatPage > .container{
    width: 90%;
    margin: 0 auto;
}
#chatContainer{
    background: rgb(173,216,230);
    border-bottom: 3px solid #245269;
}

#chatContainer > div.msg:nth-child(odd){
    background:rgb(235, 245, 249);
    padding: 1em 1.5em 1em 1.5em;
}
#chatContainer > div.msg:nth-child(even){
    background:none;
    padding: 1em 1.5em 1em 1.5em;
}



/** HOME PART **/
#imageHeader{
    height: 150px;
    width: 100%;
    overflow: hidden;
}
#imageHeader> img{
    width: 100%;
}
